body {
  text-align: center;
  background-image: url("Bilder/hintergrund.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  font-size: 150%;
  margin-top: 5%;
  height: 100%;
  font-family: serif;
}

.dnone {
  display: none;
}

.eingangseitetitle {
  font-size: 150%;
  text-align: left;
  margin: 0.3rem;
  padding: 1.3rem;
}
